<%= form_with(model: partner_transcript, local: true) do |f| %>
  <% if partner_transcript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(partner_transcript.errors.count, "error") %> prohibited this partner_transcript from being saved:</h2>

      <ul>
      <% partner_transcript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="border">
  <div class="field">
    <%= f.label :name %>
      <%= collection_select( :partner_transcript, :partner_id, Partner.all, :id, :name, {}, { :multiple => false }) %>
  </div>

  <div class="field">
    <%= f.label :type %>
       <%= f.select :transaction_type, [ 'CASH','DD','ONLINE','CHECK' ], id: :partner_transcript_transaction_type %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, id: :partner_transcript_description %>
  </div>

  <div class="field" id="s_t_c">
    <%= f.label :select_type %><br />
   <%= f.label :select_type, "credit", :value => "Yes"  %>
   <%= f.radio_button :select_type, true %>
   <%= f.label :select_type, "debit", :value => "No" %>
   <%= f.radio_button :select_type, false, :checked => false  %>
 </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, id: :transcript_amount %>
  </div>

  <div class="actions ">
    <%= f.submit %>


</div>
<% end %>
